
<% if user_signed_in? %>

    <div class="inner cover">
      <h1 class="cover-heading"> Bienvenido: <%= current_user.email %></h1>
    </div>
                     
<% else%>

          <div class="inner cover animated fadeInDown">
            <h1 class="cover-heading">Lobo Lap</h1>
            <p class="lead"> BIT&Aacute;CORA DE LABORATORIOS DE COMPUTAO, FCC.</p>
            <p class="lead">
              <%= link_to "Ingresar", new_user_session_path,class:"btn btn-lg btn-default" %>
            </p>
          </div>

          <div class="mastfoot animated fadeInDown retraso-1">
            <div class="inner">
              <p>Proyecto en desarrollo para la materia de <b>Desarrollo de Sitios Web</b><br> impartida por el profesor <b>Mario Anzures Garc&iacute;a</b></p>
              <p>Integrantes de equipo:<br>Omar Hern&aacute;ndez Sarmiento<br>Alejandro Cruz Valera<br>Luis Carlos Cano<br>David Ju&aacute;rez Monarca</p>
            </div>
          </div>
<% end %>